:root {
    --title-font: 'SONGER Condensed';
    --content-font: 'Manrope';
    --font-family: 'Helvetica Neue';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: var(--content-font);
    font-weight: 400;
    font-size: clamp(14px, 1vw, 18px);
    line-height: 20px;
    color: var(--main-text-color);
}

body {
    background-color: #000;
    margin: 0 auto;
   /* background-image: url(../images/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;*/
}

@media (max-width: 600px) {
    body {
        /*background-image: url(../images/bg-mob.avif);
        background-size: cover;*/
    }
    .bg-desk{
        display: none;
    }
    html{
        font: 400 2.3364485981vw / 1.33 var(--font-family), sans-serif;
    }

}

.header {
    padding: 20px 20px 0 20px;
}


@media(min-width:601px){
    .bg-mob{
        display: none;
    }
   
}


a {
    color: inherit;
    text-decoration-line: inherit;
}

ul {
    list-style-type: none;
}

.bold {
    font-weight: 600;
}

.container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    padding: 0 6.4375rem; /* 135px -> 8.4375rem */
}

.title {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 4rem;
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 600px) {
    .container {
        max-width: 428px;
        min-width: 330px;
        padding: 0 2.4rem;
        margin: 0;
    }
    .title{
        font-size: 4.5rem;
    }
    .header {
        padding: 2rem 2rem 0 2rem;
    }
}

@media (max-width: 600px) {
    .desc {
        display: none !important;
    }
}

@media (min-width: 601px) {
    .mob {
        display: none !important;
    }
}

.x-center {
    left: 50%;
    transform: translateX(-50%);
}
header .header-bg-wrap {
    padding-top: 1.25rem; /* 20px */
    padding: 0 8.4375rem; /* 135px */
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 49.2rem;
    width: 100%;
    border-radius: 1.875rem; /* 30px */
}

header .title-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 5.1875rem; /* 83px */
}

header .header-title {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 5rem; /* 80px */
    line-height: 87%;
    text-transform: uppercase;
    color: #fff;
    max-width: 41.875rem; /* 670px */
}

header .title-wrap img {
    width: 10.125rem; /* 162px */
    height: 6.1875rem; /* 99px */
}

header .header-second-title {
    display: flex;
    gap: 1.6875rem; /* 27px */
    margin-top: 1.6875rem; /* 27px */
}

header .header-line {
    width: 8.625rem; /* 138px */
    height: 0;
    border: 0.03125rem solid #fff; /* 0.5px */
    margin-top: 1.5625rem; /* 25px */
}

header .second-title {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 3.75rem; /* 60px */
    line-height: 92%;
    text-transform: uppercase;
    color: #fff;
    max-width: 25rem; /* 400px */
}

header .undertitle-text {
    padding-left: 10.625rem; /* 170px */
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.125rem; /* 18px */
    line-height: 122%;
    color: #fff;
    max-width: 28.125rem; /* 450px */
    margin-top: 3.9375rem; /* 63px */
}

header .header-btn-wrap {
    margin-top: 6.125rem; /* 98px */
    display: flex;
    justify-content: space-between;
    align-items: end;
}

header .header-btn-item {
    display: flex;
    gap: 9.0625rem; /* 145px */
}

.btn {
    border: 1px solid #fff;
    border-radius: 9.375rem; /* 150px */
    width: 21.875rem; /* 350px */
    height: 5rem; /* 80px */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.125rem; /* 18px */
    line-height: 121%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.btn:hover {
    background: #fff;
    color: #000;
}

.header-price-wrap {}

.header-price-wrap p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem; /* 16px */
    line-height: 160%;
    color: #fff;
}

.header-price-new-old {
    display: flex;
    gap: 0.625rem; /* 10px */
}

.price-new-bg {
    background: rgba(255, 255, 255, 0.1);
    width: 11.5rem;
    height: 5rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.price-new {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 3.1rem; /* 45px */
    line-height: 156%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    background-image: url(../images/price-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.3125rem; /* 5px */
}

.price-old {
    border-radius: 0.3125rem; /* 5px */
    background: #2a2a2a;
    width: 8.3rem; /* 120px */
    height: 5rem; /* 70px */
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem; /* 14px */
    line-height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.price-old span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2.1rem; /* 30px */
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
}
@media(max-width: 600px){
    header .header-bg-wrap {
        padding-top: 1.25rem; /* 20px */
        padding: 0 2.9rem; /* 135px */
        background-image: url(../images/header-bg-mob.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 71rem;
        width: 100%;
        border-radius: 1.875rem; /* 30px */
    }
    
    header .title-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 5.3rem; /* 83px */
    }
    
    header .header-title {
        font-family: var(--title-font);
        font-weight: 400;
        font-size: 3.9rem; /* 80px */
        line-height: 87%;
        text-transform: uppercase;
        color: #fff;
        max-width: 41.875rem; /* 670px */
    }
    
    header .title-wrap img {
        width: 10.125rem; /* 162px */
        height: 6.1875rem; /* 99px */
        display: none;
    }
    
    header .header-second-title {
        display: flex;
        gap: 1.6875rem; /* 27px */
        margin-top: 1.6875rem; /* 27px */
    }
    
    header .header-line {
        width: 8.625rem; /* 138px */
        height: 0;
        border: 0.03125rem solid #fff; /* 0.5px */
        margin-top: 1.5625rem; /* 25px */
    }
    
    header .second-title {
        font-family: var(--title-font);
        font-weight: 400;
        font-size: 3.9rem; /* 60px */
        line-height: 92%;
        text-transform: uppercase;
        color: #fff;
        max-width: 40rem; /* 400px */
    }
    
    header .undertitle-text {
        padding-left: 7.2rem; /* 170px */
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.5rem; /* 18px */
        line-height: 122%;
        color: #fff;
        max-width: 30rem; /* 450px */
        margin-top: 3rem; /* 63px */
    }
    
    header .header-btn-wrap {
        margin-top: 25rem; /* 98px */
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        gap: 1rem;
    }
    
    header .header-btn-item {
        display: flex;
        gap: 9.0625rem; /* 145px */
    }
    header .header-btn-item img{
        display: none;
    }
    
    .btn {
        border: 1px solid #fff;
        border-radius: 15rem; /* 150px */
        width: 35rem; /* 350px */
        height: 7rem; /* 80px */
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.8rem; /* 18px */
        line-height: 121%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
    }
    
    .btn:hover {
        background: #fff;
        color: #000;
    }
    
    .header-price-wrap {}
    
    .header-price-wrap p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.6rem; /* 16px */
        line-height: 160%;
        color: #fff;
    }
    
    .header-price-new-old {
        display: flex;
        gap: 0.625rem; /* 10px */
    }
    
    .price-new-bg {
        background: rgba(255, 255, 255, 0.1);
        width: 16.5rem; /* 145px */
        height: 7rem; /* 70px */
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    
    .price-new {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 4.5rem; /* 45px */
        line-height: 100%;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        border: 1px solid #fff;
        background-image: url(../images/price-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 0.5rem; /* 5px */
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0.5rem;
    }
    
    .price-old {
        border-radius: 0.5rem; /* 5px */
        background: #2a2a2a;
        width: 12rem; /* 120px */
        height: 7rem; /* 70px */
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.4rem; /* 14px */
        line-height: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 0.5rem;

    }
    
    .price-old span {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 3rem; /* 30px */
        line-height: 120%;
        text-transform: uppercase;
        color: #fff;
    }
}

.c2-title {
    max-width: 25rem;
}

.c2-wrap-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 7.5rem; /* 120px */
}

.c2-wrapper {
    display: flex;
    gap: 6.875rem; /* 110px */
}

.c2-wrap {
    display: flex;
    flex-direction: column;
    gap: 2.1875rem; /* 35px */
}

.c2-item {
    display: flex;
    align-items: top;
    gap: 1.4375rem; /* 23px */
}

.c2-item svg {}

.c2-text-wrap {
    padding-top: 0.3125rem; /* 5px */
}

.c2-title-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.125rem; /* 18px */
    line-height: 111%;
    text-transform: uppercase;
    color: #fff;
}

.c2-second-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem; /* 16px */
    line-height: 125%;
    color: #fff;
    margin-top: 1.25rem; /* 20px */
}

.c2-line {
    border: 1px solid #4e4e4e;
    width: 15.3125rem; /* 245px */
    height: 0;
    margin-top: 2.5625rem; /* 41px */
}

.title-2 {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 4.0625rem; /* 65px */
    line-height: 85%;
    text-transform: uppercase;
    color: #fff;
    padding-left: 11.9375rem; /* 191px */
}

.title-1 {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 4.6875rem; /* 75px */
    line-height: 73%;
    text-transform: uppercase;
    color: #fff;
}

.title-1-wrap {
    display: flex;
    gap: 1.875rem; /* 30px */
    align-items: center;
    padding-top: 0.875rem; /* 14px */
    padding-bottom: 0.875rem; /* 14px */
}

.dont-wrap {
    width: 100%;
    height: 21.0625rem; /* 337px */
    background-image: url(../images/dont-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.3125rem; /* 85px */
}
.dont-mob{
    display: none;
}


@media(max-width:600px){
    .c2-title {
        max-width: 32rem;
    }
    
    .c2-wrap-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 7.5rem; /* 120px */

    }
    
    .c2-wrapper {
        display: flex;
        gap: 4.1rem; /* 110px */
        flex-direction: column; 
        margin-top: 7rem;
    }
    
    .c2-wrap {
        display: flex;
        flex-direction: column;
        gap: 4.1rem; /* 35px */
    }
    
    .c2-item {
        display: flex;
        align-items: top;
        gap: 2.3rem; /* 23px */
        border-bottom: 1px solid #4e4e4e;
        padding-bottom: 4.1rem;
    }
    .c2-item-last-child{
        border: none;
    }
    
    .c2-item svg {}
    
    .c2-text-wrap {
        padding-top: 0.3125rem; /* 5px */
    }
    
    .c2-title-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.8rem; /* 18px */
        line-height: 111%;
        text-transform: uppercase;
        color: #fff;
    }
    
    .c2-second-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.6rem; /* 16px */
        line-height: 125%;
        color: #fff;
        margin-top: 1.25rem; /* 20px */
    }
    
    .c2-line {
      display: none;
    }
    
    .title-2 {
        font-family: var(--title-font);
        font-weight: 400;
        font-size: 3.8rem; /* 65px */
        line-height: 73%;
        text-transform: uppercase;
        color: #fff;
        padding-left: 5.2rem; /* 191px */
    }
    
    .title-1 {
        font-family: var(--title-font);
        font-weight: 400;
        font-size: 3.8rem; /* 75px */
        line-height: 73%;
        text-transform: uppercase;
        color: #fff;
    }
    
    .title-1-wrap {
        display: flex;
        gap: 1.875rem; /* 30px */
        align-items: center;
        padding-top: 0.875rem; /* 14px */
        padding-bottom: 0.875rem; /* 14px */
    }
    .dont-btn{
        margin-top: 4rem;
        display: flex;
        justify-content: center;
    }
    .dont-wrap {
        width: 100%;
        height: 31.0625rem; /* 337px */
        background-image: url(../images/dont-bg-mob.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5.3125rem; /* 85px */
    }
    .dont-desk{
        display: none;
    }
    .dont-mob{
        display: block;
    }
}

.c3 {
    margin-top: 8.75rem; /* 140px */
}

.c3-wrapper {
    position: relative;
    margin-top: -8.4375rem; /* -135px */
}

.c3-title {
    max-width: 20rem;
}

.c3-item-1 {
    display: flex;
    gap: 1.25rem; /* 20px */
    padding-left: 24.375rem; /* 390px */
}

.c3-item-2 {
    display: flex;
    gap: 1.25rem; /* 20px */
}

.c3-item-2 svg {
    margin-top: 5.9375rem; /* 95px */
    margin-left: 3.4375rem; /* 55px */
}

.c3-item {
    width: 23.125rem; /* 370px */
    height: 14.5625rem; /* 233px */
    border-radius: 0.9375rem; /* 15px */
    background-image: url(../images/c3-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6.25rem 9.875rem 2.5rem 2.5rem; /* 100px 158px 40px 40px */
    margin-top: 1.25rem; /* 20px */
}

.c3-2 {
    background-image: url(../images/c3-2.png);
}

.c3-3 {
    background-image: url(../images/c3-3.png);
    padding: 6.25rem 9.375rem 2.5rem 2.5rem; /* 100px 150px 40px 40px */
}

.c3-4 {
    background-image: url(../images/c3-4.png);
    padding: 6.25rem 8.75rem 2.5rem 2.5rem; /* 100px 140px 40px 40px */
}

.c3-5 {
    background-image: url(../images/c3-5.png);
}

.c3-6 {
    background-image: url(../images/c3-6.png);
}

.c3-item:hover {
    background-image: url(../images/c3-1h.png);
}

.c3-2:hover {
    background-image: url(../images/c3-2h.png);
}

.c3-3:hover {
    background-image: url(../images/c3-3h.png);
}

.c3-4:hover {
    background-image: url(../images/c3-4h.png);
}

.c3-5:hover {
    background-image: url(../images/c3-5h.png);
}

.c3-6:hover {
    background-image: url(../images/c3-6h.png);
}

.c3-item-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.125rem; /* 18px */
    line-height: 111%;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 1.25rem; /* 20px */
}

.c3-item-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem; /* 16px */
    line-height: 125%;
    color: #fff;
}

.forever-wrap {
    width: 100%;
    height: 21.0625rem; /* 337px */
    background-image: url(../images/forever-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8.75rem; /* 140px */
    overflow: hidden;
}

.forever-btn-1 {
    background-image: url(../images/forever-1-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 16.875rem; /* 270px */
    height: 3.75rem; /* 60px */
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.125rem; /* 18px */
    line-height: 111%;
    text-transform: uppercase;
    text-align: center;
    transform: rotate(-16deg);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 1%;
    margin-top: -7.625rem; /* -90px */
    opacity: 0;
    transition: all 0.5s ease;
}

.forever-btn-2 {
    background-image: url(../images/forever-2-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 16.875rem; /* 270px */
    height: 3.75rem; /* 60px */
    transform: rotate(14deg);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.125rem; /* 18px */
    line-height: 111%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1%;
    opacity: 0;
    transition: all 0.5s ease;
}
.visible{
    opacity: 1;
    left: 26%;
}
.visible2{
    opacity: 1;
    right: 23%;
    
}
@media(max-width:600px){
    .c3 {
        margin-top: 8.75rem; /* 140px */
    }
    
    .c3-wrapper {
        position: relative;
        margin-top: 6rem; /* -135px */
    }
    
    .c3-title {
        max-width: 26rem;
    }
    
    .c3-item-1 {
        display: flex;
        flex-direction: column;
        gap: 0rem; /* 20px */
        padding-left: 0rem; /* 390px */
    }
    
    .c3-item-2 {
        display: flex;
        flex-direction: column;
        gap: 0rem; /* 20px */
    }
    
    .c3-item-2 svg {
        margin-top: -62.0625rem;
        margin-left: 31.4375rem;
        width: 5.4rem;
        position: absolute;
    }
    
    .c3-item {
        width: 37rem; /* 370px */
        height: 23.3rem; /* 233px */
        border-radius: 1.5rem; /* 15px */
        background-image: url(../images/c3-1h.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10rem 17.8rem 5.9rem 4rem; /* 100px 158px 40px 40px */
        margin-top: 1rem; /* 20px */
    }
    
    .c3-2 {
        background-image: url(../images/c3-2h.png);
    }
    
    .c3-3 {
        background-image: url(../images/c3-3h.png);
        padding: 10rem 14.1rem 5.9rem 4rem; /* 100px 158px 40px 40px */
    }
    
    .c3-4 {
        background-image: url(../images/c3-4h.png);
        padding: 10rem 14.1rem 5.9rem 4rem; /* 100px 158px 40px 40px */
    }
    
    .c3-5 {
        background-image: url(../images/c3-5h.png);
    }
    
    .c3-6 {
        background-image: url(../images/c3-6h.png);
    }
    

    
    .c3-item-title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.8rem; /* 18px */
        line-height: 111%;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 2rem; /* 20px */
    }
    
    .c3-item-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.6rem; /* 16px */
        line-height: 125%;
        color: #fff;
    }
    
    .forever-wrap {
        width: 100%;
        height: 31.0625rem; /* 337px */
        background-image: url(../images/forever-bg-mob.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5rem; /* 140px */
        overflow: hidden;
    }
    .forever-btn{
        margin-top: 6.2rem;
    }
    
    .forever-btn-1 {
        background-image: url(../images/forever-1-bg.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 16.875rem; /* 270px */
        height: 3.75rem; /* 60px */
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.125rem; /* 18px */
        line-height: 111%;
        text-transform: uppercase;
        text-align: center;
        transform: rotate(-16deg);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 1%;
        margin-top: -23.625rem; /* -90px */
        opacity: 0;
        transition: all 0.5s ease;
    }
    
    .forever-btn-2 {
        background-image: url(../images/forever-2-bg.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 16.875rem; /* 270px */
        height: 3.75rem; /* 60px */
        transform: rotate(14deg);
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.125rem; /* 18px */
        line-height: 111%;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 1%;
        opacity: 0;
        transition: all 0.5s ease;
    }
    .visible{
        opacity: 1;
        left: 5%;
    }
    .visible2{
        right: 4%;
        margin-top: -1rem;
        opacity: 1;
        
    }
}

.c4 {
    margin-top: 8.75rem; /* 140px */
}

.c4-wrap {
    display: flex;
    margin-top: 2.8125rem; /* 45px */
}

.c4-item {
    color: #fff;
    padding: 1.3125rem 6.3125rem 1.25rem 1.9375rem; /* 21px 101px 20px 31px */
    max-width: 18.25rem; /* 292px */
    height: 20rem; /* 320px */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #4e4e4e;
}

.c4-item:hover {
    background: #fff;
    color: #000;
}

.c4-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.125rem; /* 18px */
    line-height: 111%;
    text-transform: uppercase;
    margin-bottom: 1.875rem; /* 30px */
}

.c4-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem; /* 16px */
    line-height: 125%;
}

.c4-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: #131516;
    border: 1px solid #434343;
    width: 3.125rem; /* 50px */
    height: 3.125rem; /* 50px */
    color: #fff;
}

.c4-vid {
    margin-top: 7.5rem; /* 120px */
    display: flex;
    align-items: center;
    gap: 6.875rem; /* 110px */
}

.c4-vid-item {
    width: 47rem;
    height: 26.625rem;
    background-image: url(../images/c4-vid-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c4-circle-vid {
    border-radius: 100%;
    width: 13.125rem; /* 210px */
    height: 13.125rem; /* 210px */
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var("Albert Sans");
    font-weight: 400;
    font-size: 1rem; /* 16px */
    line-height: 156%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.c4-circle-vid:hover {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.c4-circle-play {
    border-radius: 100%;
    width: 3.75rem; /* 60px */
    height: 3.75rem; /* 60px */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e93519;
    position: absolute;
    margin-top: 9.375rem; /* 150px */
    margin-left: 9.375rem; /* 150px */
    padding-left: 0.3rem;
}

.c4-title-1 {
    color: #e93519;
    padding-left: 3.75rem; /* 60px */
}

.c4-title-2 {
    padding-left: 3.125rem; /* 50px */
}
.c4-title-mob{
    display: none;
}
@media(max-width:600px){
    .c4 {
        margin-top: 8.75rem; /* 140px */
        padding: 0;
    }
    .title-c4{
        padding-left: 2.4rem;
    }
    .c4-wrap {
        display: flex;
        flex-direction: column;
        margin-top: 2.8125rem; /* 45px */
    }
    
    .c4-item {
        color: #fff;
        padding: 5rem 2.4rem 5rem 2.4rem; /* 21px 101px 20px 31px */
        max-width: 100%; /* 292px */
        height: 20rem; /* 320px */
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
        border-bottom: 1px solid #4e4e4e;
        border-right: none;
    }
    
    .c4-item:hover {
        background: #fff;
        color: #000;
    }
    
    .c4-title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.8rem; /* 18px */
        line-height: 111%;
        text-transform: uppercase;
        margin-bottom: 2.875rem; /* 30px */
        max-width: 14.9rem;
    }
    
    .c4-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.6rem; /* 16px */
        line-height: 125%;
        max-width: 20.8rem;
    }
    
    .c4-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background: #131516;
        border: 1px solid #434343;
        width: 5rem; /* 50px */
        height: 5rem; /* 50px */
        color: #fff;
        font-size: 1.3rem;
    }
    
    .c4-vid {
        margin-top: 7.5rem; /* 120px */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6rem; /* 110px */
        align-items: flex-start;
        padding-left: 2.4rem;
    }
    
    .c4-vid-item {
        width: 38rem; /* 672px */
        height: 30rem; /* 378px */
        background-image: url(../images/c4-vid-bg-mob.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .c4-circle-vid {
        border-radius: 100%;
        width: 19rem; /* 210px */
        height: 19rem; /* 210px */
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var("Albert Sans");
        font-weight: 400;
        font-size: 1.6rem; /* 16px */
        line-height: 156%;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
    }
    
    .c4-circle-vid:hover {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    
    .c4-circle-play {
        border-radius: 100%;
        width: 6rem; /* 60px */
        height: 6rem; /* 60px */
        display: flex;
        justify-content: center;
        align-items: center;
        background: #e93519;
        position: absolute;
        margin-top: 14rem; /* 150px */
        margin-left: 14rem; /* 150px */
    }
    
    .c4-title-1 {
        color: #e93519;
        padding-left: 3.75rem; /* 60px */
    }
    
    .c4-title-2 {
        padding-left: 3.125rem; /* 50px */
    }
    .c4-title-desk{
        display: none;
    }
    .c4-title-mob{
        display: block;
    }
}

.c5 {
    margin-top: 8.75rem; /* 140px */
}

.c5-wrapper {
    margin-top: 4.4375rem; /* 71px */
}

.c5-wrap {
    display: flex;
    gap: 1.25rem; /* 20px */
}

.c5-item {
    width: 25.5rem; /* 376px */
    height: 20rem; /* 320px */
    border-radius: 0.9375rem; /* 15px */
    padding: 2.5rem 8.5rem 3.5rem 2.5rem; /* 40px 136px 56px 40px */
    background-image: url(../images/c5-1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.c5-2 {
    background-image: url(../images/c5-2.png);
}

.c5-3 {
    background-image: url(../images/c5-3.png);
}

.c5-4 {
    background-image: url(../images/c5-4.png);
}

.c5-item:hover {
    background-image: url(../images/c5-1h.png);
}

.c5-2:hover {
    background-image: url(../images/c5-2g.png);
}

.c5-3:hover {
    background-image: url(../images/c5-3h.png);
}

.c5-4:hover {
    background-image: url(../images/c5-4h.png);
}

.c5-svg-wrap {
    width: 3.75rem; /* 60px */
    height: 3.75rem; /* 60px */
    border-radius: 0.625rem; /* 10px */
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c5-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.125rem; /* 18px */
    line-height: 111%;
    text-transform: uppercase;
    color: #fff;
    margin-top: 3.125rem; /* 50px */
    margin-bottom: 1.875rem; /* 30px */
}

.c5-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem; /* 16px */
    line-height: 125%;
    color: #fff;
}

.c5-second-wrap {
    display: flex;
    margin-top: 1.25rem; /* 20px */
}

.c5-btn-wrap {
    display: flex;
    gap: 2.625rem; /* 42px */
    margin-left: 5.0625rem; /* 81px */
    margin-top: 3.0625rem; /* 49px */
}

.c5-btn-item {
    display: flex;
    max-width: 27.5rem;
    flex-direction: column;
    gap: 3.1875rem;
}

.c5-percent-wrap {
    margin-top: 8.75rem; /* 140px */
    background-image: url(../images/c5-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 23.125rem; /* 370px */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.c5-percent {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 10.3125rem; /* 165px */
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;
}

.c5-percent-smaller {
    font-size: 5.3125rem; /* 85px */
    line-height: 10%;
}

.c5-percent-title {
    max-width: 31.875rem; /* 510px */
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 2.8125rem; /* 45px */
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;
}

.c5-percent-item {
    display: flex;
    align-items: center;
    gap: 2.8125rem; /* 45px */
}

.c5-percent-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.25rem; /* 20px */
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    max-width: 16.0625rem; /* 257px */
}

.c5-percent-line {
    border: 1px solid #fff;
    width: 5.0625rem; /* 81px */
    height: 0px;
    margin-top: 0.625rem; /* 10px */
}

.c5-percent-text-wrap {
    display: flex;
    align-items: flex-start;
    gap: 1.1875rem; /* 19px */
    margin-left: 21.25rem; /* 340px */
}
.mob{
    display: none;
}
@media(max-width:600px){
    .c5 {
        margin-top: 8.75rem; /* 140px */
    }
    
    .c5-wrapper {
        margin-top: 4.4375rem; /* 71px */
    }
    
    .c5-wrap {
        display: flex;
        flex-direction: column;
        gap: 1.25rem; /* 20px */
    }
    
    .c5-item {
        width: 38rem; /* 376px */
        height: 21rem; /* 320px */
        border-radius: 1.5rem; /* 15px */
        padding: 4rem 5.8rem 4.9rem 4rem; /* 40px 136px 56px 40px */
        background-image: url(../images/c5-1h.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .c5-title-wrap{
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-bottom: 3rem;
    }
    
    .c5-2 {
        background-image: url(../images/c5-2h.png);
    }
    
    .c5-3 {
        background-image: url(../images/c5-3h.png);
    }
    
    .c5-4 {
        background-image: url(../images/c5-4h.png);
    }
    
    .desk{
        display: none !important;
    }
    .mob{
        display: block;
    }
    .c5-svg-wrap {
        width: 6rem; /* 60px */
        height: 6rem; /* 60px */
        border-radius: 1rem; /* 10px */
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .c5-title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.8rem; /* 18px */
        line-height: 111%;
        text-transform: uppercase;
        color: #fff;
        margin-top: 0rem; /* 50px */
        margin-bottom: 0rem; /* 30px */
        max-width: 20rem;
    }
    
    .c5-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.6rem; /* 16px */
        line-height: 125%;
        color: #fff;
        max-width: 26rem;
    }
    
    .c5-second-wrap {
        display: flex;
        flex-direction: column;
        margin-top: 1.25rem; /* 20px */
    }
    
    .c5-btn-wrap {
        display: flex;
        gap: 6rem; /* 42px */
        margin-left: 0rem; /* 81px */
        margin-top: 5.3rem; /* 49px */
        flex-direction: column;
        align-items: center;
    }
    .c5-btn-wrap-title{
        display: flex;
        gap: 3.2rem;
    }
    .c5-btn-wrap svg{
        width: 7rem;
        height: 7rem;
    }

    .c5-btn-item {
        display: flex;
        max-width: 27.5rem; /* 360px */
        flex-direction: column;
        gap: 5.1875rem; /* 83px */
    }
    
    .c5-percent-wrap {
        margin-top: 8.75rem; /* 140px */
        background-image: url(../images/c5-bg-mob.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 45.8rem; /* 370px */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .c5-percent {
        font-family: var(--font-family);
        font-weight: 300;
        font-size: 13.5rem; /* 165px */
        line-height: 100%;
        text-transform: uppercase;
        color: #fff;
    }
    
    .c5-percent-smaller {
        font-size: 6.5rem; /* 85px */
        line-height: 10%;
    }
    
    .c5-percent-title {
        max-width: 36.5rem; /* 510px */
        font-family: var(--title-font);
        font-weight: 400;
        font-size: 4rem; /* 45px */
        line-height: 100%;
        text-transform: uppercase;
        color: #fff;
    }
    
    .c5-percent-item {
        display: flex;
        align-items: center;
        gap: 2rem; /* 45px */
        flex-direction: column;
    }
    
    .c5-percent-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 2rem; /* 20px */
        line-height: 125%;
        text-transform: uppercase;
        color: #fff;
        max-width: 25.6rem; /* 257px */

    }
    
    .c5-percent-line {
        border: 1px solid #fff;
        width: 8.1rem; /* 81px */
        height: 0px;
        margin-top: 0.625rem; /* 10px */
    }
    
    .c5-percent-text-wrap {
        display: flex;
        align-items: flex-start;
        gap: 1.1875rem; /* 19px */
        margin-left: 0rem; /* 340px */
        margin-top: 3.1rem;
    }
}
.slider-cont {
    margin-top: 8.75rem; /* 140px */
}

.slider-title-wrap {
    display: flex;
    justify-content: space-between;
}

.slider-title-wrap h3 {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 3.4375rem; /* 55px */
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;
    max-width: 29.375rem; /* 470px */
}

.slider-title-wrap img {
    width: 35.625rem; /* 570px */
    height: 8.75rem; /* 140px */
}

.upperslider-wrap {
    display: flex;
    align-items: center;
    gap: 1.25rem; /* 20px */
    margin-bottom: 1.875rem; /* 30px */
}

.upperslider-wrap p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.5625rem; /* 25px */
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;
}

.slider-container {
    width: 90%;
    max-width: 87.5rem; /* 1400px */
    overflow: hidden;
    position: relative;
    margin-left: 6.25rem; /* 100px */
    margin-top: 7rem; /* 112px */
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 33.3%;
    box-sizing: border-box;
    padding: 0.625rem; /* 10px */
}

.image-box {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    height: 33rem;
}

.image-box img {
    width: 100%;
    display: block;
    
}

.slider-buttons {
    display: flex;
    gap: 0.625rem; /* 10px */
}

.slider-buttons button {
    border-radius: 100%;
    background: #fff;
    height: 3.75rem; /* 60px */
    width: 3.75rem; /* 60px */
    border: none;
    cursor: pointer;
    font-size: 1.5rem; /* 24px */
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 21%;
}

.slider-buttons #prev {
    color: #fff;
    background: none;
    border: 1px solid #fff;
}

.progress-bar-container {
    width: 41.875rem; /* 670px */
    height: 0.1875rem; /* 3px */
    background: rgba(255, 255, 255, 0.3);
    margin-top: 0.625rem; /* 10px */
    border-radius: 0.3125rem; /* 5px */
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 20%;
    background: #fff;
    transition: width 0.5s ease-in-out;
}

.slider-btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.375rem; /* 70px */
}

.slider-circle {
    width: 5rem; /* 80px */
    height: 5rem; /* 80px */
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #fff;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 40%;
    padding-left: 0.3rem;
}
iframe{
    width: 100%;
    height: 100%;
}
.slider-circle:hover {
    background: #E93519;
}
@media(max-width:600px){
    .slider-cont {
        margin-top: 8.75rem; /* 140px */
    }
    
    .slider-title-wrap {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .slider-title-wrap h3 {
        font-family: var(--title-font);
        font-weight: 400;
        font-size: 4.4rem; /* 55px */
        line-height: 100%;
        text-transform: uppercase;
        color: #fff;
        max-width: 38rem; /* 470px */
    }
    
    .slider-title-wrap img {
        width: 38rem; /* 570px */
        height: 14rem; /* 140px */
        margin-top: 5rem;
    }
    
    .upperslider-wrap {
        display: flex;
        align-items: center;
        gap: 1.25rem; /* 20px */
        margin-bottom: 1.875rem; /* 30px */
    }
    
    .upperslider-wrap p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 2rem; /* 25px */
        line-height: 100%;
        text-transform: uppercase;
        color: #fff;
    }
    .upperslider-wrap svg{
        width: 3.2rem;
        height: 3.2rem;
    }
    
    .slider-container {
        width: 100%;
        max-width: 87.5rem; /* 1400px */
        overflow: hidden;
        position: relative;
        margin-left: 0rem; /* 100px */
        margin-top: 7rem; /* 112px */
    }
    
    .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }
    
    .slide {
        min-width: 81%;
        box-sizing: border-box;
        padding: 0.625rem; /* 10px */
    }
    
    .image-box {
        position: relative;
        overflow: hidden;
        border-radius: 1.5rem; /* 10px */
        height: 44.3rem;
    }
    
    .image-box img {
        width: 100%;
        display: block;
    }
    
    .slider-buttons {
        display: flex;
        gap: 0.625rem; /* 10px */
    }
    
    .slider-buttons button {
        border-radius: 100%;
        background: #fff;
        height: 7rem; /* 60px */
        width: 7rem; /* 60px */
        border: none;
        cursor: pointer;
        font-size: 2.5rem; /* 24px */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .slider-buttons #prev {
        color: #fff;
        background: none;
        border: 1px solid #fff;
    }
    
    .progress-bar-container {
        width: 20rem; /* 670px */
        height: 0.1rem; /* 3px */
        background: rgba(255, 255, 255, 0.3);
        margin-top: 0.625rem; /* 10px */
        border-radius: 0.3125rem; /* 5px */
        overflow: hidden;
    }
    
    .progress-bar {
        height: 100%;
        width: 20%;
        background: #fff;
        transition: width 0.5s ease-in-out;
    }
    
    .slider-btn-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 4.375rem; /* 70px */
    }
    
    .slider-circle {
        width: 6.4rem; /* 80px */
        height: 6.4rem; /* 80px */
        border-radius: 100%;
        background: rgba(255, 255, 255, 0.4);
        border: 1px solid #fff;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 40%;
        left: 40%;
    }
    .slider-circle svg{
        width: 2.5rem;
        height: 2.5rem;
    }
    
    .slider-circle:hover {
        background: #E93519;
    }
}

.c6 {
    margin-top: 6.25rem; /* 100px */
}

.c6-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem; /* 80px */
}

.c6-img img {
    width: 23.5rem; /* 376px */
    height: 32rem; /* 512px */
}

.c6-btn {
    width: 31.25rem; /* 500px */
    height: 5rem; /* 80px */
}

.c6-flying-div {
    width: 27.1875rem; /* 435px */
    height: fit-content;
    background-image: url(../images/c6-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.9375rem; /* 15px */
    padding: 1.9375rem 1.625rem 2.1875rem 1.875rem; /* 31px 26px 35px 30px */
    display: flex;
    gap: 1.25rem; /* 20px */
    position: absolute;
    margin-left: -23rem;
    margin-top: -29.625rem;
    opacity: 0;
    transition: 0.5s ease-out;
}

.c6-flying-div1 {
    transform: rotate(-10deg);
}
.visible3{
    opacity: 1;
    margin-left: 3rem;
}

.c6-flying-div p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem; /* 16px */
    line-height: 125%;
    color: #fff;
    max-width: 19.3125rem; /* 309px */
}

.c6-svg-wrap {
    width: 3.125rem; /* 50px */
    height: 3.125rem; /* 50px */
    border-radius: 0.625rem; /* 10px */
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c6-flying-div2, .c6-flying-div3 {
    width: 23.5rem; /* 376px */
    background-image: url(../images/c6-bg2.svg);
}

.c6-flying-div2 {
    margin-left: 60.125rem;
    transform: rotate(10deg);
    margin-top: -39.25rem;

}
.visible4{
    margin-left: 51.125rem;
    opacity: 1;
}

.c6-flying-div3 {
    margin-left: 60.125rem;
    transform: rotate(5deg);
    margin-top: -26.75rem;
}
.visible5{
    margin-left: 48rem;
    opacity: 1;
}
.c6-flying-div2 p {
    max-width: 15.625rem; /* 250px */
}

.c6-flying-div3 p {
    max-width: 15.625rem; /* 250px */
}
@media(max-width:600px){
    .c6 {
        margin-top: 6.25rem; /* 100px */
        overflow:hidden;
    }
    
    .c6-img {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5rem; /* 80px */
    }
    
    .c6-img img {
        width: 37.6rem; /* 376px */
        height: 52rem; /* 512px */
    }
    
    .c6-btn {
        width: 38rem; /* 500px */
        height: 7rem; /* 80px */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
    }
    
    .c6-flying-div {
        width: 38rem; /* 435px */
        height: fit-content;
        background-image: url(../images/c6-bg.svg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 0.9375rem; /* 15px */
        padding: 3.1rem 2.7rem 2.9rem 3.1rem; /* 31px 26px 35px 30px */
        display: flex;
        gap: 2rem; /* 20px */
        position: relative;
        margin-left: 0rem;
        margin-top: 0rem;
        opacity: 0;
        transition: 0.5s ease-out;
        margin-top: 1rem;

    }
    
    .c6-flying-div1 {
        transform: rotate(0deg) translateX(-32rem);
    }
    .visible3{
        opacity: 1;
        margin-left: 0rem;
        transform: translateX(0rem);
    }
    
    .c6-flying-div p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.6rem; /* 16px */
        line-height: 125%;
        color: #fff;
        max-width: 25.3125rem; /* 309px */
    }
    
    .c6-svg-wrap {
        width: 5rem; /* 50px */
        height: 5rem; /* 50px */
        border-radius: 1rem; /* 10px */
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .c6-flying-div2, .c6-flying-div3 {
        width: 38rem; /* 376px */
        background-image: url(../images/c6-bg2.svg);
    }
    
    .c6-flying-div2 {
        margin-left: 0rem;
        transform: rotate(0deg) translateX(32rem);
        margin-top: 1rem;
    
    }
    .visible4{
        margin-left: 0rem;
        opacity: 1;
        transform: translateX(0rem);
    }
    
    .c6-flying-div3 {
        margin-left: 0rem;
       transform: rotate(0deg) translateX(-32rem);
        margin-top: 1rem;
    }
    .visible5{
        margin-left: 0rem;
        opacity: 1;
        transform: translateX(0rem);
    }
    .c6-flying-div2 p {
        max-width: 23.625rem; /* 250px */
    }
    
    .c6-flying-div3 p {
        max-width: 23.625rem; /* 250px */
    }
}


.FAQ {
    margin-top: 8.75rem; /* 140px */
}

.FAQ-wrapper {
    display: flex;
    gap: 9.6875rem; /* 155px */
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.FAQ-title-wrap h3 {
    font-family: var(--title-font);
    font-weight: 300;
    font-size: 3.4375rem; /* 55px */
    line-height: 118%;
    color: #fff;
}

.FAQ-btn {
    width: 26.25rem; /* 420px */
}

.FAQ-title-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accordion {
    width: 35.4375rem; /* 567px */
    overflow: hidden;
}

.accordion-item {
    border-top: 0.0625rem solid #ddd; /* 1px */
}

.accordion-header {
    width: 100%;
    background: none;
    padding: 1.3rem 0; /* 30px */
    border: none;
    text-align: left;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.5625rem; /* 25px */
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    display: flex;
    gap: 3.4375rem; /* 55px */
    align-items: center;
    transition: background 0.3s ease-in-out;
    position: relative;
}

/* Добавляем иконку "+" перед заголовком */
.accordion-header::before {
    content: "+";
    font-size: 2rem; /* 24px */
    font-weight: 300;
    color: #fff;
    font-family: var(--font-family);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* При раскрытии вопроса иконка меняет цвет и вращается */
.accordion-item.active .accordion-header::before {
    transform: rotate(-45deg);
    color: #dcc6a1;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    background: #000;
    padding: 0 0.9375rem; /* 15px */
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    padding-left: 4.375rem !important; /* 70px */
    color: #fff;
}

/* Когда открывается FAQ, появляется контент */
.accordion-item.active .accordion-content {
    max-height: 9.375rem; /* 150px */
    padding: 0 0.9375rem 1.2rem 0.9375rem; /* 15px */
    max-width: 30.4375rem; /* 487px */
}

@media(max-width:600px){
    .FAQ {
        display: none;
    }
    
}


footer {
    background: #000;
    margin-top: 8.75rem; /* 140px */
    padding: 1.25rem; /* 20px */
}

.footer {
    padding: 3.125rem 8.4375rem; /* 50px 135px */
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background: #191919;
    border-radius: 1.875rem; /* 30px */
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-wrap p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.125rem; /* 18px */
    line-height: 121%;
    text-transform: uppercase;
    color: #fff;
}

.footer-links {

}

.footer-links a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.125rem; /* 18px */
    line-height: 121%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
}
.footer-btn{
    height: 4.5rem;
}
@media(max-width:600px){
    footer {
        background: #000;
        margin-top: 8.75rem; /* 140px */
        padding: 1.25rem; /* 20px */
    }
    
    .footer {
        padding: 4rem; /* 50px 135px */
        position: relative;
        left: 50%;
        transform: translate(-50%);
        background: #191919;
        border-radius: 1.875rem; /* 30px */
    }
    
    .footer-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        gap: 5rem;
    }
    
    .footer-wrap p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.6rem; /* 18px */
        line-height: 121%;
        text-transform: uppercase;
        color: #fff;
    }
    .footer-btn{
        width: 31.5rem;
        height: 6rem;
    }
    .footer-links {
    
    }
    
    .footer-links a {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.6rem; /* 18px */
        line-height: 121%;
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #fff;
    }
}
